* {
  margin: 0;
  padding: 0;
}
@keyframe animationStart {
  0% {
    height: 0px;
    background-color: red;
  }
  100% {
    height: 220px;
    background-color: violet;
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(86, 101, 184),
    rgb(71, 185, 176),
    50%,
    rgb(189, 230, 227) 90%
  );
}

.page {
  width: 345px;
  background: linen;
  padding: 10px;
  border: solid 2px rgb(86, 101, 184);
  text-align: center;
  color: rgba(0, 0, 0, 0.534);
  animation: animationStart 5s infinite;
}

.form {
  padding: 30px 0 10px 0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 4px;
}
input {
  width: 99%;
}
.btn {
  background-color: rgb(51, 165, 173);
  color: white;
  margin: 5px 0;
  padding: 4px;
  border-radius: 10px;
  transition: transform 0.25s ease-in-out, font-weight 0s ease;
}
.btn:hover {
  font-weight: bolder;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.div {
  border: 2px grey solid;
  text-align: start;
  margin: 2px 0;
}

/* Extra */
.winner {
  color: green;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
.cheating {
  color: red;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}
.pista {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
}
